*
{
    margin: 0;
    padding: 0;
}
body {
    min-height: 50vh;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

canvas
{
    display: block;
}

h1
{
    position: absolute;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: "Soruce Sans Pro";
    font-size: 100px;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    animation: slip 3s infinite;
}
@keyframes slip 
{
    from{left: 0px;}
    to{left: 700px;}   
}

.animate-charcter
{
    position: absolute;
    margin-top: 450px;
   text-transform: uppercase;
   color: #fff;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

p
{
    position: absolute;
    font-size: 160px;
    margin-top: 450px;
    margin-left: 1200px;
}

/*music*/
.content {
  width: 100%;
  position: absolute;
  top: 30%;
}

.left-col {
  margin-left: 2%;
}

.right-col {
  float: right;
  margin-right: 2%;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}

.right-col p {
  font-size: 18px;
  color: whitesmoke;
  font-weight: 400;
  margin-right: 15px;
}

#icon {
  width: 80px;
  cursor: pointer;
}